{%extends "base.html" %}
{% block content%}
<head>
    <title>Game Over</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='over.css') }}"> <!-- Link to your project's CSS file -->
    <!-- Add any additional styles or link to external stylesheets here -->
</head>

<body>
    <div class="container">
        <h1 class="game-over-heading">Game Over</h1>
        <p class="score-text">Your Final Score: {{ score }}</p>
        <p class="message">Better luck next time!</p>
        <a href="{{ url_for('quiz') }}" class="try-again-btn">Try Again</a>
    </div>
</body>


{% endblock %}